
.grid{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-evenly;
}
.footer{
    display:flex;
    justify-content: flex-end;
}
.i{
    margin: 4px;
    padding: 3px;
    text-align:justify;
    color:mediumseagreen;
    background-color:lightgreen;
    text-align: justify;
}
body{
    background-color:lightcyan;
}
.header{
color: lightpink;
background-color: lightsalmon;
text-align: center;
}
